/* Стили шаблона страницы */
*{
    margin:0;
    padding:0;
}
body {
    background-color:#eee;
    color:#fff;
    font:24px/1.3 Arial,sans-serif;
}
header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:90px;
    position:relative;
    width:100%;
    z-index:100;
}

}

header .stuts span {
    font-size:12px;
    font-weight:bold;
    margin-left:5px;
}
.container {

    color: #555;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 850px;
    height: 250px;
}
.controls {
    border: 19px solid #0f0;
    color: #000;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    width: 880px;
}

.controls p {
    margin-bottom: 5px;
}
.controls input {
    margin-left: 5px;
}